.site-footer {
  padding: 48px 0;
  background: #002529;
}

.footer {
  @include DisplayFlex($justify: space-between, $align: start, $gap: 0px);
}
.footer__left-wrapper {
  @include DisplayFlex($justify: center, $align: start, $gap: 125px);
}
.footer__address a {
  @include TextStyle(
    $font-weight: 600,
    $font-size: 18px,
    $line-height: 28px,
    $color: $clr-white
  );
  opacity: 60%;
}
.footer__left-logo {
  @include DisplayFlex($justify: start, $align: start, $gap: 25px);
  flex-direction: column;
}

.footer__left-logo a {
  @include TextStyle(
    $font-weight: 600,
    $font-size: 18px,
    $line-height: 28px,
    $color: $clr-white
  );
}

.footer__left-logo div {
  @include DisplayFlex($justify: start, $align: start, $gap: 40px);
}

.footer__right-wrapper {
  @include DisplayFlex($justify: start, $align: start, $gap: 51px);
  flex-direction: column;
}
.footer__right-wrapper p {
  @include TextStyle(
    $font-weight: 600,
    $font-size: 15px,
    $line-height: 25px,
    $color: $clr-white
  );
  opacity: 60%;
}
.footer_socials {
  width: 255px;
  @include DisplayFlex($justify: end, $align: center, $gap: 10px);
}

@media (max-width: 850px) {
  .footer {
    @include DisplayFlex($justify: start, $align: start, $gap: 32px);
    flex-direction: column;
  }

  .footer__left-wrapper {
    @include DisplayFlex($justify: space-between, $align: start, $gap: 0px);
    width: 100%;
  }
  .footer__left-logo {
    @include DisplayFlex($justify: start, $align: start, $gap: 53px);
  }

  .footer__right-wrapper {
    @include DisplayFlex($justify: space-between, $align: center, $gap: 0px);
    flex-direction: row;
    width: 100%;
  }

  .footer_socials {
    width: 255px;
    @include DisplayFlex($justify: start, $align: center, $gap: 10px);
  }
}

@media (max-width: 500px) {
  .footer {
    @include DisplayFlex($justify: center, $align: center, $gap: 40px);
  }
  .footer__left-wrapper {
    @include DisplayFlex($justify: center, $align: center, $gap: 24px);
    flex-direction: column;
    width: 100%;
  }

  .footer__right-wrapper p {
    text-align: center;
    margin: 0 auto;
  }
  .footer__right-wrapper {
    @include DisplayFlex($justify: center, $align: center, $gap: 30px);
    flex-direction: column;
    width: 100%;
  }

  .footer_socials {
    width: 255px;
    @include DisplayFlex($justify: center, $align: center, $gap: 10px);
  }
}
