.header {
  @include DisplayFlex($justify: space-between, $align: center, $gap: 0px);
  padding: 30px;
}
.header__left-content {
  @include DisplayFlex($justify: start, $align: center, $gap: 80px);
}
.header__navbar {
  @include DisplayFlex($justify: start, $align: center, $gap: 40px);
}
.header-link {
  @include TextStyle(
    $font-weight: 600,
    $font-size: 18px,
    $line-height: 28px,
    $color: $clr-white
  );
  transition: all 0.3s ease;
  &:hover {
    color: $clr-orannge;
  }
}
.header__btn {
  @include BtnStyle(
    $font-btn-size: 18px,
    $bg-color: $clr-light-green,
    $txt-color: $clr-white,
    $PaddingTB: 10px,
    $PaddingLR: 30px
  );
}

.header__menu-icon {
  display: none;
  background: none;
  cursor: pointer;
}

@media (min-width: 776px) and (max-width: 1024px) {
  .header__left-content {
    @include DisplayFlex($justify: start, $align: center, $gap: 60px);
  }
  .header__navbar {
    display: none;
    @include DisplayFlex($justify: start, $align: center, $gap: 30px);
  }
  .header__btn {
    @include BtnStyle(
      $font-btn-size: 16px,
      $bg-color: $clr-light-green,
      $txt-color: $clr-white,
      $PaddingTB: 8px,
      $PaddingLR: 26px
    );
  }
}

@media (max-width: 775px) {
  .header__left-content {
    @include DisplayFlex($justify: start, $align: center, $gap: 40px);
  }

  .header__navbar {
    display: none;
  }
  .header__btn {
    display: none;
  }

  .header__menu-icon {
    display: block;
    border: none;
  }
}

@media (min-width: 320px) and (max-width: 399px) {
  .header__navbar {
    display: none;
  }

  .header__menu-icon {
    display: block;
    border: none;
  }
}
// @media (min-width: 776px) and (max-width: 1024px) {
// }

// @media (min-width: 481px) and (max-width: 775px) {
// }

// @media (min-width: 320px) and (max-width: 480px) {
// }
